.navbar {
  background: linear-gradient(
    135deg,
    #e63946,
    #ff6b35
  );
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 10rem;
  box-shadow: 0 6px 25px rgba(230,57,70,.35);
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 10px;
}

.navbar-logo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid rgba(255,255,255,.3);
}

.navbar-title {
  font-size: 40PX;
  font-weight: 700;
}

.navbar-links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.navbar-links a,
.btn-logout {
  color: white;
  font-weight: 1000;
  transition: .3s;
}

.navbar-links a:hover,
.btn-logout:hover {
  color: #ffc857;
}

.btn-logout {
  background: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 900px) {
  .navbar {
    padding: 1rem 3rem;
  }

  .navbar-left {
    gap: 40px;
  }
}

@media (max-width: 550px) {
  .navbar {
    flex-direction: column;
    padding: 1rem;
  }
}

/* Icono Flotante del Carrito */
.floating-cart {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #e63946;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  z-index: 9999;
  transition: transform 0.2s;
}

.floating-cart:hover {
  transform: scale(1.1);
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #ffc857;
  color: black;
  border-radius: 50%;
  padding: 2px 8px;
  font-size: 0.8rem;
  font-weight: bold;
}